<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <footer>
        <ul class="social_icon">
            <li><a href="https://www.facebook.com/profile.php?id=61552977434023&mibextid=ZbWKwL"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://x.com/christina_nada1?t=vi2IFyzZdZdiFnv7_8q8Ww&s=09"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/christina-nada-9726bb259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/its_chriss_tina_238?igsh=YmVybHF6ZXc1Z24y"><ion-icon name="logo-instagram"></ion-icon></a></li>
          </ul>
        
          <ul class="menu">
            <li><a href="./index.ejs">Home</a></li>
            <li><a href="./About.ejs"></a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="./contact.ejs">Contact</a></li>
          </ul>
        <p class="copyright">© Christina @ The Chris Inc.</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>