<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">My Portfolio</a>
        <div class="header-right">
          <a  href="/">Home</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
          <a href="/projects">Projects</a>
        </div>
    </div>
</body>
</html>