<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;family=Sacramento&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs")%>
   
    <div class="changeh3">
        <h1>Here are few projects</h1>
        <ul>
            <li><div class="inner">
                <h3>Resume with Portfolio</h3>
                <img class="pic" src="images/resume.png">
                <img class="pic" src="images/portfolio.png">
                <p>This is just a mini project which show cases all the properties of HTML, structuring
                    and tags. This mini project has different pages to which user can navigate and it
                    does'nt have any CSS.</p>
                
                <a href="https://chriss-583.github.io/html-port_folio-christina/public/resume.html">click here</a>
                
            </div></li>
            <br>
            <li><div class="inner">
                <h3>Just a Meme</h3>
                <img class="pic" src="images/meme.png">
                <p>Its just a funny meme I have developed.I developed using HTML and CSS properties.</p>
                <a herf="https://chriss-583.github.io/meme_with_css/">click here</a>

            </div></li>
            <li><div class="inner">
                <h3>A Blog about Egypt’s and Israel’s Enigmatic Mysteries</h3>
                <img class="pic" src="images/egypt.png">
                <img class="pic" src="images/israel.png">
                <p>This project helps you witness how the whole web page is structured using HTML
                    and well styled using CSS and with help of bootstrap. This project is to unravel the
                    mysteries of Egypt.</p>
                <a href="https://chriss-583.github.io/middle-east-blog/">click here</a>
            </div></li>
            <br>
            <li><div class="inner">
                <h3>Demonstrating Banking system and Exception Handling in Money Transfer
                    using Python</h3>
                    <img class="pic" src="images/python1.png">
                    <img class="pic" src="images/python2.png">
                    <img class="pic" src="images/python3.png">
                <p>I have used python to demonstrate banking system like crediting and debiting amount.
                    After these operations always balance amount is reminded to the user. If the daily
                    transactions exceeds a certain amount then by using Exception Handling the user is
                    reminded that transactions has crossed the limit and to try again later.</p>
                <a href="https://github.com/Chriss-583/online-banking">click here</a>
            </div></li>
            <br>
            <li><div class="inner">
                <h3>Padma Bhushan Awards Data Analysis (Group Project)</h3>
                
                <p>This is a group project and I am the team lead. I am responsible with generating
                    giving ideas and also helped my team to engage in writing the code, and documenting
                    the outcomes. We have taken 10x10 data set of all the nominees of different fields and
                    of different age groups by considering the year of receiving the award and the
                    nominee’s salary by using pandas. We have first cleaned the data and pre-process the
                    data using numpy operations. We have then used Supervised and unsupervised
                    machine learning algorithms to get the analysis of the clean data.</p>
                <a href="https://github.com/Chriss-583/Padma-Bhushan-Awards-Data_Analysis">click here</a>
            </div></li>
            <br>
           
        </ul>
    </div>
 


    <%- include("partials/footer.ejs")%>
</body>
</html>